.DS_Store
*.pyc
*.code-workspace
*.tfevents.*
*.zip
*.rar

_old/
tmp/
results/*

Graphonomy/data/datasets/instance-level_human_parsing/
Graphonomy/data/datasets/CIHP_4w/Categories/*.png
Graphonomy/data/datasets/CIHP_4w/Category_ids/*.png
Graphonomy/data/datasets/CIHP_4w/Category_rev_ids/*.png
Graphonomy/data/datasets/CIHP_4w/Human/*.png
Graphonomy/data/datasets/CIHP_4w/Human_ids/*.png
Graphonomy/data/datasets/CIHP_4w/Images/*.png
Graphonomy/data/datasets/CIHP_4w/Instance_ids/*.png
Graphonomy/data/datasets/CIHP_4w/Instances/*.png

Graphonomy/data/datasets/CIHP_4w/Categories/*.jpg
Graphonomy/data/datasets/CIHP_4w/Category_ids/*.jpg
Graphonomy/data/datasets/CIHP_4w/Category_rev_ids/*.jpg
Graphonomy/data/datasets/CIHP_4w/Human/*.jpg
Graphonomy/data/datasets/CIHP_4w/Human_ids/*.jpg
Graphonomy/data/datasets/CIHP_4w/Images/*.jpg
Graphonomy/data/datasets/CIHP_4w/Instance_ids/*.jpg
Graphonomy/data/datasets/CIHP_4w/Instances/*.jpg

Graphonomy/data/datasets/ATR/JPEGImages/*.jpg
Graphonomy/data/datasets/ATR/SegmentationClassAug/*.png
Graphonomy/data/datasets/ATR/SegmentationClassAug_rev/*.png

Graphonomy/data/datasets/pascal/Categories/*.png
Graphonomy/data/datasets/pascal/Category_ids/*.png
Graphonomy/data/datasets/pascal/Category_rev_ids/*.png
Graphonomy/data/datasets/pascal/Human/*.png
Graphonomy/data/datasets/pascal/Human_ids/*.png
Graphonomy/data/datasets/pascal/Images/*.png
Graphonomy/data/datasets/pascal/Instance_ids/*.png
Graphonomy/data/datasets/pascal/Instances/*.png

Graphonomy/data/datasets/pascal/Categories/*.jpg
Graphonomy/data/datasets/pascal/Category_ids/*.jpg
Graphonomy/data/datasets/pascal/Category_rev_ids/*.jpg
Graphonomy/data/datasets/pascal/Human/*.jpg
Graphonomy/data/datasets/pascal/Human_ids/*.jpg
Graphonomy/data/datasets/pascal/Images/*.jpg
Graphonomy/data/datasets/pascal/Instance_ids/*.jpg
Graphonomy/data/datasets/pascal/Instances/*.jpg

