.DS_Store
*.vsd
*.~vsd
*.xlsx
*.lnk
*.ini
*.png
*.code-workspace
*.html
*.pt
*.json
*.local
*.out
*.gif
*.tfevents.*
*.pyc
#*.pth

.vscode
__pycache__
dataset
_tmp/
old/
_old/

#!/home/sakai/hand-image-extractor-api/api/graphonomy_wrapper/checkpoints/universal_trained.pth